$main-bg: #1b1f2b;
$secound-color: #0f1425;
$third-color: #674df3;
$main-color: #30f0b6;
$gray-color: #838694;

// start about-company
.about-company {
  padding: 60px 0;
  background-image: url("../images/about-five-bg.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;

  .container {
    .line {
      .text {
        h3 {
          margin-bottom: 15px;
          font-weight: 600;
        }
      }

      .image {
        img {
          width: 100%;
        }
      }
    }
  }
}
// end about-company

// start features-company
.features-company {
  padding: 50px 0;

  .container {
    .boxs {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 30px;

      .box {
        padding: 40px 50px 40px 50px;
        background-color: #f4f2fe;

        img {
          width: 55px;
          height: 55px;
        }

        h4 {
          font-size: 24px;
          margin: 20px 0 10px;
          font-weight: 600;
        }

        p {
          color: $gray-color;
          line-height: 1.5;
        }
      }
    }
  }
}
// end features-company
