$main-bg: #1b1f2b;
$secound-color: #0f1425;
$third-color: #674df3;
$main-color: #30f0b6;
$gray-color: #838694;

// start portfolio
.portfolio {
  padding: 60px 0;

  .container {
    .line {
      display: flex;
      gap: 40px;

      .left {
        width: 25%;
        border: 1px solid #dbdbdb;
        padding: 14px;
        border-radius: 5px;

        .title {
          font-size: 23px;
          margin-bottom: 20px;
          font-weight: 600;
          color: $secound-color;
        }

        .btns-sort {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .btn-sort {
            border: none;
            background-color: $secound-color;
            color: white;
            font-weight: 400;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 15px;
            width: fit-content;

            &.active {
              background-color: $third-color;
            }
          }
        }
      }

      .right {
        width: 75%;
        .boxs {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
          gap: 30px;

          .box {
            border: 1px solid #dbdbdb;
            border-radius: 6px;
            overflow: hidden;
            cursor: pointer;

            &:hover {
              .text {
                h5 {
                  color: $third-color;
                }
              }
            }

            img {
              max-width: 100%;
            }

            .text {
              padding: 14px;
              margin-top: 10px;
              border-top: 1px solid #dbdbdb;

              h5 {
                font-weight: 600;
                color: $secound-color;
                margin-bottom: 0;
                transition: all 0.3s;
              }

              span {
                color: $gray-color;
                font-weight: 500;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
// end portfolio
